.iframe-head{
	width: 100%;
	height: 20%;
	border-color:#B3D4F0;
	padding:0px 0px 0px 0px;
	border-top-width:0px;
	border-bottom-width:4px;
	border-left-width:0px;
	border-right-width:0px;
}
.iframe-menu1{
	height: 300px;
	border-color:#B3D4F0;
	border-top-width:0px;
	border-bottom-width:4px;
	border-left-width:0px;
	border-right-width:4px;
}
.iframe-menu2{
	height:calc(100% - 300px);
	border-color:#B3D4F0;
	border-top-width:0px;
	border-bottom-width:4px;
	border-left-width:0px;
	border-right-width:4px;
}
.iframe-main{
	height: 80%;
	width: 100%;
	border-color:#B3D4F0;
	border-top-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
}
.div-menu_left{
	position: relative;
	float:left;
	height: 80%;
	width: 300px;
}
.div-menu_right{
	position: relative;
	float:right;
	width:calc(100% - 300px);
}